<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/styleProva.css">
<link rel="icon" type="image/png" href="../img/favicomatic/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../img/favicomatic/favicon-16x16.png" sizes="16x16" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
	<!-- Sostituire con tag HTML5 <header>? Vedere pro e contro
		Contro: XHTML5 non esiste -> in xhtml i tag header e footer non esistono.

	-->
	<div class="nav" id="nav">
		<div class="nav__logo-container" id="nav__logo-container">
			<a href=""> 
				<img src="../logo/logo_TVhunter.png" alt="logo del sito, riporta alla homepage">		
			</a>
		</div>


		<div class="nav__ricerca">								<!-- Aggiunta la barra di ricerca -->	
			<input type="text" placeholder="Cerca..">  
		</div>
		

		<ul class="nav__top-list list_no-style	" id="nav__top-list">
			<li class="nav__esplora"><a href="" title="Esplora">Esplora</a></li>
			<li class="nav__restricted nav__profilo"><a href="" title="Profilo">Profilo</a></li>
			<li class="nav__restricted nav__preferiti"><a href="" title="Preferiti">Preferiti</a></li>
		</ul>

		<ul class="nav__bottom-list list_no-style">
			<li class="nav__restricted nav__impostazioni"><a href="" title="Impostazioni">Impostazioni</a></li>
			<li class="nav__faq"><a href=""><acronym title="Frequently Asked Questions">FAQ</acronym></a></li>
			<li class="nav__supporto"><a href="" title="Supporto">Supporto </a></li>
			<li class="nav__privacy"><a href="" title="Privacy"><span xml:lang="EN">Privacy</span></a></li>
			<li class="nav__about"><a href="" title="About"><span xml:lang="EN">About</span></a></li>
   		</ul>

		<div class="nav__social">
		</div>
		<div class="nav__icon">
			<a href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></a>
		</div>

	</div>

	<div class="page-center">
		<div class="header">
			<div class="header-content">
				<h1>TV Hunter</h1>
			</div>
		</div>
					<!-- Introduzione al funzionamento/scopo del sito -->

		<div class = "pagina-right">	 
			<h3 class="titolo" xml::lang="en"> About Tv Hunter:</h3>			
			<p> 
				
				Il sito fornisce al visitatore una panoramica riguardante il mondo delle serie tv, mostrando le nuove uscite e mettendo in opportune sezioni le 				serie tv più votate e consigliate dalla community. <br>

				In particolare per ogni serie tv il sito da informazioni riguardanti la trama, gli attori, gli episodi divisi per stagione e extra, ovvero 					mostra contenuti simili alla serie tv visualizzata nella pagina. <br>

				L'utente non iscritto può registrarsi nell'apposita sezione che permetterà l'accesso a contenuti come il votare e commentare. <br>
				
			</p>
				       <!-- Foto di noi 4 e spiegazione ruoli -->

			<div id="sviluppatori">	
				<h3 class="titolo"> Sviluppatori: </h3>
				<p> 
					Il sito è stato sviluppato per il corso di Tecnologie Web presente al terzo anno del corso di laurea in Informatica all'Università di 						Padova. 
				</p>	
				<ul id="immagine-e-info">
  					<li class="list-inline list_no-style">	
						<div class="immagine-sviluppatore">
							<a href="https://github.com/dbarasti">
								<img src="../img/aboutImage/davide.png" alt="immagine di Davide Barasti"></img>
							</a>
						</div>
						<div class="informazioni-sviluppatore">
						</div>
					</li>
  					<li class="list-inline list_no-style">
						<div class="immagine-sviluppatore">
							<a href="https://github.com/GiovanniSorice">
								<img src="../img/aboutImage/giova.png" alt="immagine di Giovanni Sorice"></img>
							</a>
						</div>
						<div class="informazioni-sviluppatore">
						</div>
					</li>
  					<li class="list-inline list_no-style">
						<div class="immagine-sviluppatore">
							<a href="https://github.com/lorenzobusin">
								<img src="../img/aboutImage/lore.png" alt="immagine di Lorenzo Busin"></img>
							</a>
						</div>
						<div class="informazioni-sviluppatore">
						</div>
					</li>
  					<li class="list-inline list_no-style">
						<div class="immagine-sviluppatore">
							<a href="https://github.com/fraccorzo">
								<img src="../img/aboutImage/chicco.png" alt="immagine di Francesco Corti"></img>
							</a>
						</div>
						<div class="informazioni-sviluppatore">
						</div>
					</li>
				</ul>  
			</div>
		</div>									
</body>
</html>

