<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="icon" type="image/png" href="../img/favicomatic/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../img/favicomatic/favicon-16x16.png" sizes="16x16" />
</head>
<body>
	<!-- Sostituire con tag HTML5 <header>? Vedere pro e contro
		Contro: XHTML5 non esiste -> in xhtml i tag header e footer non esistono.

	-->
	<div class="nav">
		<ul class="nav__top-list">
			<li><a href="">Esplora</a></li>
			<li class="nav__restricted"><a href="">Profilo</a></li>
			<li class="nav__restricted"><a href="">Preferiti</a></li>
		</ul>

		<ul class="nav__bottom-list">
			<li class="nav__restricted"><a href="">Impostazioni</a></li>
			<li><a href=""><acronym title="Frequently Asked Questions">FAQ</acronym></a></li>
		</ul>
	</div>
	<div class="page-center">
		<div class="header">
			<div class="header-content">
				<h1>TV Hunter</h1>
				<div class="header-logo-container">
					<a href=""> <!--Premere il logo porta alla homepage-->
						<img src="../logo/logo_TVhunter.png" alt="logo del sito, riporta alla homepage">		
					</a>
				</div>
			</div>
		</div>
		


		<div class="content">
		
		</div>

		<div class="footer">
			<div class="footer__nav">
				<ul>
					<li><a href="">Supporto </a></li>
					<li><a href=""><span xml:lang="EN">Privacy</span></a></li>
					<li><a href="">About</a></li>
				</ul>	
			</div>
		</div>

	</div>

	


</body>
</html>


