.pagina-right{
    margin-left: 3% ; 
    font-size: 115% ; 
}

.titolo{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #333; 
}

.show{
     display: inline;
}


.immagine-sviluppatore img{
    height: 12em;
    width: 12em;
}


@media screen and (max-width: 1024px)and (min-width: 150px){
}


@media screen and (max-width: 1024px)and (min-width: 601px){
}

@media screen and (max-width: 600px)and (min-width: 150px){
}
