.pagina-right{
    margin-left: 3% ; 
    font-size: 115% ; 
}

.titolo{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #333; 
}

.show{
     display: inline;
}

.descrizione-sviluppatore{
   font-size: 75%;	
   margin-bottom: 0; 
   margin-top: 0; 
}

#sviluppatori{
   margin-bottom: 2em;
}
.nome-sviluppatore{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 95%; 
    margin-bottom: 0; 
    margin-top: 0; 
}

.informazioni-sviluppatore{
    margin-left: 0.5em;
    width: 12em; 
}

.paragrafo-sviluppatore{
   width: 12em; 
   margin-left: 1em; 
   margin-right: 1em; 
}

.paragrafo-sviluppatore img{
    height: 12em;
    width: 12em;
    margin-bottom: 0; 
}


@media screen and (max-width: 1024px)and (min-width: 150px){
}


@media screen and (max-width: 1024px)and (min-width: 601px){
}

@media screen and (max-width: 600px)and (min-width: 150px){
}
