/* Parto con la versione mobile, poi tablet e infine computer */

#pagina-amministratore{
	font-family: "Times New Roman", Times, serif; 
	margin-right: 3% ;
    margin-left: 3% ; 
    font-size: 1.5em ; 
    height: 100vh;
}

#pagina-amministratore h1{
	font-style: italic;
	font-size: 1.5em;
	font-weight: bolder;
}

#pagina-amministratore h2{
	font-family: "Times New Roman", Times, serif; 
	font-size: 80%;
	font-weight: normal;
	
}

.parte-segnalazioni{
	margin-top: 5em;
}

#descrizione-tabella-segnalazioni{
	font-size: 0.7em;
}

#segnalazioni{	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 90%;	
}

#segnalazioni td, #segnalazioni th {
  border: 1px solid #ddd; 
  padding: 8px;
  font-size: 1em;
}

#segnalazioni tr:nth-child(even){
	background-color: #f2f2f2;
}

#segnalazioni tr:hover{
	background-color: #ddd;
}

#segnalazioni th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2f4858;
  color: white;
  font-size: 82%;
}

.nome-utente{	
	width: 7em;
	font-weight: 500;
	font-size: 90%;
}

.tipo-segnalazione{	
	width: 9em;
	color: red;
	font-size: 90%;
}

.elimina-commento{
	font-size: 80%;
	width: 1.5em;	
	background-image: url("../img/admin/trash.png");
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 1024px) and (min-width: 751px) {	
	#segnalazioni td, #segnalazioni th {	
  		font-size: 80	%;
	}
}

@media screen and (min-width: 1025px){
	#segnalazioni td, #segnalazioni th {	
  		font-size: 65%;
	}
	.pagina-amministratore h2{
		font-size: 95%;
	}
}











