.login-bar{
	width: 100%;
	background: #14181c url(../img/background-dark.png) 0 -1px repeat-x;
	height: 2.2em;
	border-bottom: 1px solid black;
}

.login-bar a{
	color: #fac100;
}

.login-bar .non-logged-user{
	color: white;
}

.login-bar .logged-user{
	color: white;
}

.login-bar .logged-user span:before{
	content: url("../img/nav/user-unisex.png");
  display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.8em; /* same as padding-left set on li */
  vertical-align: -6px;
}

.login-bar .non-logged-user button{ 
	border-radius: 5px;
}

.login-bar .non-logged-user a{ 
	color: black;
	text-decoration:none;
}

.login-bar .user-name a{
	color: white;
	text-decoration: none;
}


/*Utils*/
.vertical-center{
	display: flex;
	align-items: center;
}

.align-right{
	position: absolute;
	right: 0;
	margin-right: 5%;
}

.display-none{
	display: none;
}

<<<<<<< HEAD
.login-bar{
		display: auto;	
	}

@media screen and (max-width: 1024px)and (min-width: 150px){
}


@media screen and (max-width: 1024px)and (min-width: 601px){
	.login-bar{
		margin-top: 0em;
		display: auto;	
	}
}

@media screen and (max-width: 600px)and (min-width: 150px){
	.login-bar{
		display: none;	
	}
.login-bar.responsive{
		margin-top: 7.2em;
		display: block;	
	}
.login-bar .non-logged-user a:active{
	color: white;
}
