/*Page Center section*/
.page-center{
width: 80%;
position:absolute;
right:0;
}

@media screen and (max-width: 1024px)and (min-width: 150px){
  /*page-center section*/
  .page-center{
  	width: 100%;
  	position:unset;
  }
}


@media screen and (max-width: 1024px)and (min-width: 601px){
	.page-center{
		padding-bottom: 3em;
	}
}

@media screen and (max-width: 600px)and (min-width: 150px){
	.page-center{
	}
}

