

#info-privacy{
	margin-left: 40px;
	margin-top: 40px;
}

#info-privacy h2, #terms h2 {
    font-family: ProximaNova; 
    color: #14181c; 
}

.sezione-privacy{
        text-decoration: underline;
}

 
