

#info-privacy{
	margin-left: 40px;
	margin-top: 40px;
}

#info-privacy h2, #terms h2 {
    font-family: 'Roboto', sans-serif;
    color: #14181c; 
}

.sezione-privacy{
		font-family: 'Roboto', sans-serif;
        text-decoration: underline;
}

 
