

#titolo h1{
	font-family: normal;
	font-size: 1.7em;
}

#info-privacy{
	font-size: 1.4em;
	margin: 2em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

#info-privacy h1{

}

#info-privacy h2, #terms h2 {
 
}

.sezione-privacy{
    text-decoration: underline;
}

@media screen and (min-width: 150px) and (max-width: 600px){

}

@media screen and (min-width: 601px) and (max-width: 1024px){

}
