/*
*{
	background-color: #2f4858;
}
*/
body{
	margin:0;
}


/*Navigator section*/
.nav{
	position: fixed;
	overflow: hidden;
	width: 15em;
	left: 0;
	height: 100%;
}

.nav__restricted{

}


/*Page center*/
.page-center{
	margin-left: 15em;
}


/*Header section*/
.header{	
	/*background: url(../img/header-background.jpeg);*/
	background-color: #2f4858; 
	background-size: cover;
	background-repeat: no-repeat;

	height: 15em;
}

.header-content{
	width: 15em;
	margin: 0 auto;
	padding-top: 2em;
}

.header-logo-container{
	text-align: center;
}
.header img {
  height: 8em;
}

.header h1 {
	font-family: "Times New Roman";
	color: white;
  position: relative;
  text-align: center;
  margin-bottom: 0.1em;
  margin-top: 0;
}




/*Content section
.content{
	margin-left: 15em;
}
*/

/*Footer section*/
.footer{
  background-color: #2f4858;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer__nav{
	width: 50%; /*16.1em;*/
	margin: 0 auto;
}

.footer ul{
	padding-left: 0;	
	list-style: none;
	/*margin-left: 7em;*/
	/*text-align: center;*/
}

	/*Evito che l'ultimo elemento dell'elenco abbia il padding a dx*/
.footer ul :last-child{
	padding-right: 0;
}

.footer li{
	display: inline-block;
	padding-right: 2em;
}

.footer a{
	color: white;
}